/* ServiceForm.css */

.title-name{
    color: #F7418F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }


.booking-form {
    
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #FC819E; /* Updated border color to match the card */
    border-radius: 12px; /* Increased border-radius for consistency */
    background-color: #FFFFFF; /* Light background color to match the card's palette */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow for depth */
    transition: box-shadow 0.3s ease; /* Smooth shadow transition */
    width: 90%;
    margin-bottom: 100px;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #F7418F;
  }
  
  input[type="date"],
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #FC819E; /* Updated border color to match the form's border */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FFF; /* Background color to match the form's color scheme */
  }
  
  button {
    width: 100%;
  padding: 12px;
  background-color: #FC819E; /* Adjusted button color */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #F7418F; /* Button color on hover */
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .booking-form {
      /*width: 100%; /* Full width on smaller screens */
      padding: 15px; /* Adjusted padding for better fit */
    }
  }
  